* {
    padding: 0;
    margin: 0;
}

body {
    color: aliceblue;
}
.app-container {
    position: absolute;
    top:0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673AB7;
    width: 100%;
}
